header {
    text-align: center;
    padding: 30px, 10px;
    background: #fff9e0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    padding: 0;
}

nav a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}
body {
    background-color: darkred;
    font-family: 'Quicksand', sans-serif;
}
.hero {
    text-align: center;
    padding: 40px 20px;
    background: #350b0b;
    margin: 14px;
    border-radius: 19px;
    color: darkred;
}

p {
    color: #ffa300;
    text-align: center;
    font-size: medium;
    font-family: 'Calibri',sans-serif;
}
.logo {
    width: 330px;
    display: block;
    margin: 0 auto 21px;
}

footer {
    color: #fff9e0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: italic;
    text-align-last: center;
}

h1 {
    color: #000000;
    font-size: 1.82rem;
    font-weight: 574;
    line-height: 1.1;
    margin-top: 0;
    text-align: center;
}

a:hover {
    color: darkred;
}
a.active {
    background-color: #fdff6e00;
}
h2 {
    color: #fff9e0;
}
.recettes-acceuil {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;  
}
.carte-recette {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
.carte-recette img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.carte-recette img:hover {
    transform: scale(1.05);
}
.carte-recette h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 8px 12px;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 8px;
    font-size: 1   
}
.btn-plus {
    display: inline-block;
    padding: 12px 22px;
    border :2px solid #ffa300;
    color: #ffa300;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s ease;
}
.btn-plus:hover {
    background-color: #e2e3aa00;
    color: #fdff6e00;
}
